body
{
    margin: 0;

    font-family: 'Cherry Swash', cursive;
    min-width: 1300px;
    background: url('bg.png') #fbf8f5;
    color: #000;
}

.theme-changer:checked ~ header,
.theme-changer:checked ~ main,
.theme-changer:checked ~ footer
{
    background: #000;
    color: #fff;
}

.font-changer_small:checked ~ main
{
    font-size: .75em;
}

.font-changer_normal:checked ~ main
{
    font-size: 1em;
}

.font-changer_big:checked ~ main
{
    font-size: 1.25em;
}

.font-family_serif:checked ~ header > :not(.main-header__heading),
.font-family_serif:checked ~ main,
.font-family_serif:checked ~ footer
{
    font-family: 'Slabo 27px', serif;
}

.font-family_sans-serif:checked ~ header > :not(.main-header__heading),
.font-family_sans-serif:checked ~ main,
.font-family_sans-serif:checked ~ footer
{
    font-family: 'Roboto Condensed', sans-serif;
}

/*====================   Header   ===================*/

.main-header
{
    padding-top: 10px;
    padding-bottom: 10px;
}

.centered
{
    padding-left: 10px;
    padding-right: 10px;
}

.main-header__short-fact,
.main-header__heading,
.main-header__weather
{
    display: inline-block;
    vertical-align: text-top;
}

.main-header__short-fact
{
    width: 25%;
}

.main-header__heading
{
    width: 62%;
    margin: 0 0 20px;

    font-family: 'UnifrakturMaguntia', cursive;
    font-size: 5em;
    text-transform: capitalize;
    text-align: center;
}

.main-header__weather,
.main-header__short-fact
{
    box-sizing: border-box;
    width: 15%;
    border: 1px solid;
    margin: 0 2%;

    text-align: center;
}

.main-header__weather-heading,
.main-header__short-fact-heading
{
    margin-top: 0;
    margin-bottom: 5px;
}

/*============================   Header Info   =======================*/

.main-header__info
{
    border-top: 4px double;
    border-bottom: 4px double;
}

.main-header__number,
.main-header__date,
.main-header__price
{
    width: 33%;
    display: inline-block;
}

.main-header__price
{
    text-align: right;
}

/*=============================   Main   ========================*/

hr
{
    border: none;
    color: #000;
    background-color: #000;
    height: 1px;
}

main
{
    columns: 2;
    column-rule: 1px solid;
}

.main__article_two-columns
{
    columns: 2;
}

.main__article_three-columns
{
    columns: 3;
}

.main__article_small,
.main__article_medium,
.main__article_big
{
    border-bottom: 1px solid;
}

.main__article_small
{
    min-height: 199px;
}

.main__article_medium
{
    min-height: 449px;
}

.main__article_big
{
    min-height: 649px;
}

.main__article-heading
{
    margin: 0 0 10px;

    text-align: center;
}

.main__article-heading_multicolumn
{
    column-span: all;
}

.main__article-paragraph:first-of-type::first-letter
{
    font-size: 1.5em;
    font-family: 'UnifrakturCook', cursive;
}

.main__article-image_right
{
    float: right;
    margin-left: 3px;
    margin-top: 8px;
}

.main__article-image_left
{
    float: left;
    margin-right: 3px;
    margin-top: 8px;
}

.main__article-figure_multicolumn
{
    margin: 8px 0 5px;
    column-span: all;

    text-decoration: underline;
    font-size: .8em;
}

.main__currency-section
{
    text-align: center;
}

.main__currency-header
{
    margin: 0 0 30px;
}

.main__currency
{
    font-size: 2em;
    display: inline-block;
}

.main__article-quotation
{
    background: #767479;
    border-radius: 10px;
}
