html,
body
{
    padding: 0;
    margin: 0;
    height: 100%;
    background: rgb(100, 86, 73);
    font-size: 14pt;
    font-family: CyrillicOld;
}

@font-face
{
    font-family: CyrillicOld;
    src: url(cyrillicold.ttf);
}

@font-face
{
    font-family: Rurintania;
    src: url(rurintania.ttf);
}

@font-face
{
    font-family: Slavjanic;
    src: url(slavjanic.ttf);
}

main
{
    width: 70%;
    min-height: 100%;
    background: url('yellow-wall.jpg');
    margin: 0 auto;
    padding: 50px;
    box-shadow: 0 5px 15px 5px rgba(0, 0, 0, .25);
}

h1
{
    margin: 0;
    padding: 20px 0;
    font-family: Slavjanic;
    font-size: 50pt;
    border-bottom: 5px double #000;
}

h2
{
    font-family: CyrillicOld;
    font-size: 25pt;
}

h3
{
    font-family: CyrillicOld;
    font-size: 18pt;
    color: #674515;
    display: inline-block;
}

figure
{
    margin: 0;
    padding: 0;
    column-span: all;
}

.quote
{
    border-top: 2px dashed;
    border-right: 2px dashed;
    border-bottom: 2px dashed;
    padding: 15px;
    height: 98.5%;
}

.compact
{
    display: inline;
}

.compact > figcaption
{
    background: #000;
    color: #fff;
    margin: 0;
    padding: 10px;
    font-style: italic;
    float: none;
}

img
{
    border-top-style: double;
    border-bottom-style: double;
    padding-top: 5px;
    border-top-width: 8px;
    border-bottom-width: 8px;
    filter: grayscale(70%);
    width: 100%;
}

img:hover
{
    transition: .5s;
    transform: rotate(360deg);
}

table
{
    width: 100%;
    height: 100%;
}

table tr td:first-child
{
    width: 67.5%;
}

table tr td:last-child
{
    height: 100%;
}

p
{
    display: inline-block;
}

p:hover
{
    opacity: .5;
}

p:first-letter
{
    font-family: Rurintania;
    font-size: 16pt;
}

span
{
    writing-mode: tb-rl;
    white-space: nowrap;
    text-orientation: upright;
    padding: 20px;
    float: left;
}

section
{
    column-count: 3;
    column-gap: 30px;
    column-rule: 1px solid;
    display: inline-block;
}
