@import url('https://fonts.googleapis.com/css?family=Neucha');

@font-face
{
    font-family: 'Annabelle';
    src: url(Annabelle.woff);
}

@font-face
{
    font-family: 'StudioScriptCTT';
    src: url(StudioScriptCTT.woff);
}

@font-face
{
    font-family: 'Journal Cyrillic';
    src: url(JournalCyrillic.woff);
}

.newspaper
{
    background: rgba(220, 212, 193, .86);
    column-count: 2;
    column-rule: 1px solid #000;
    text-align: justify;
}

.newspaper-header
{
    border-bottom: 1px dotted #000;
    text-align: center;
}

.newspaper-title
{
    font-family: 'Annabelle', fantasy;

    font-size: 4em;
    text-shadow: 6px 6px 6px #aaa;
}

h2
{
    font-family: 'Neucha', serif;

    text-align: center;
    font-size: 2em;
    text-shadow: 4px 4px 4px #aaa;
}

p,
.vertical-text
{
    font-family: 'Journal Cyrillic', serif;

    text-shadow: 2px 2px 2px #aaa;
}

.vertical-text
{
    float: left;
    margin-left: .7em;
}

.vertical-word
{
    display: block;
    width: .5em;
    padding-bottom: .5em;
    font-size: .85em;
    text-transform: uppercase;
    word-break: break-all;
}

.first-paragraph,
.date
{
    font-family: 'StudioScriptCTT', cursive;

    font-size: 1.4em;
    text-shadow: 1px 1px 1px #aaa;
    text-align: center;
}

.paragraph-with-capital-letter::first-letter
{
    font-family: 'StudioScriptCTT', cursive;

    font-size: 1.8em;
    text-shadow: 1px 1px 1px #aaa;
}

.power-of-thought,
.lies
{
    column-count: 3;
}

.about-space
{
    display: inline-block;
}

.power-of-thought
{
    break-before: column;
}

img
{
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    border-radius: 50px;
}

.newspaper-header,
.image-to-span-column,
.lies-header
{
    column-span: all;
}

.set-dark:checked ~ .newspaper
{
    color: #fff;
    column-rule: 1px solid #fff;
    background: #000;
}

.big-size:checked ~ .newspaper p
{
    font-size: 1.5em;
}

.set-italic:checked ~ .newspaper p
{
    font-style: italic;
}

.set-bold:checked ~ .newspaper p
{
    font-weight: bold;
}
