html
{
    margin: 0;
    padding: 0;
    font: 16px 'PT Sans', sans-serif;
    color: #420;
}

body
{
    margin: 0;
    padding: 0 4rem;
    background-color: #b85;
    text-align: center;
}

.navigation
{
    margin: 0;
    padding: 1.5rem 0;
}

.navigation-item
{
    display: inline-block;
    margin: 0;
    padding: 1.5rem;
    text-align: center;
}

.navigation-item__header
{
    margin: 0 0 1rem;
    padding: 0;
    text-transform: uppercase;
    color: #420;
}

.navigation-item label
{
    margin: 0;
    padding: .25rem .5rem;
    cursor: pointer;
}

.navigation-item label:not(:checked):hover
{
    background-color: #fed;
}

input[name^='set-']
{
    display: none;
}

input[id='set-size__1x']:checked ~ main label[for='set-size__1x'],
input[id='set-size__2x']:checked ~ main label[for='set-size__2x'],
input[id='set-size__3x']:checked ~ main label[for='set-size__3x'],
input[id='set-font__sans']:checked ~ main label[for='set-font__sans'],
input[id='set-font__serif']:checked ~ main label[for='set-font__serif'],
input[id='set-font__mono']:checked ~ main label[for='set-font__mono'],
input[id='set-color__light']:checked ~ main label[for='set-color__light'],
input[id='set-color__dark']:checked ~ main label[for='set-color__dark']
{
    background-color: #420;
    color: #fed;
}

.newspaper
{
    position: relative;
    max-width: 1200px;
    margin: 0 auto 4rem;
    padding: 4rem;
    box-shadow: 5px 5px 10px rgba(0,0,0, .5);
    background-color: #fed;
    color: #420;
}

input[id='set-color__dark']:checked ~ main .newspaper
{
    background-color: #420;
    color: #fed;
}

.newspaper__header
{
    margin: 0;
    padding: 0;
    text-align: center;
    font: 5rem 'Press Start 2P', sans-serif;
    line-height: 7rem;
    text-shadow: 1px 1px 0 #fed, 4px 4px 0 #420;
}

input[id='set-size__2x']:checked ~ main .newspaper__header
{
    font-size: 5.2rem;
    line-height: 7.3rem;
}

input[id='set-size__3x']:checked ~ main .newspaper__header
{
    font-size: 5.4rem;
    line-height: 7.6rem;
}

input[id='set-color__dark']:checked ~ main .newspaper__header
{
    text-shadow: 2px 2px 0 #420, 4px 4px 0 #fed;
}

.newspaper__subhead
{
    margin: 1.5rem 0;
    padding: .5rem 0;
    border-top: 4px double #fed;
    border-bottom: 4px double #fed;
    background-color: #420;
    text-align: center;
    font-size: 1rem;
    font-weight: normal;
    color: #fed;
}

input[id='set-size__2x']:checked ~ main .newspaper__subhead
{
    font-size: 1.1rem;
}

input[id='set-size__3x']:checked ~ main .newspaper__subhead
{
    font-size: 1.2rem;
}

input[id='set-color__dark']:checked ~ main .newspaper__subhead
{
    border-top-color: #420;
    border-bottom-color: #420;
    background-color: #fed;
    color: #420;
}

.remark
{
    position: absolute;
    left: 1.75rem;
    top: 2rem;
    width: 1rem;
}

.remark__item
{
    display: block;
    width: .5em;
    margin-right: 1rem;
    padding-bottom: 1rem;
    font: .8rem 'Courier', monospace;
    font-weight: bold;
    text-transform: uppercase;
    word-break: break-all;
}

input[id='set-size__2x']:checked ~ main .remark__item
{
    font-size: .9rem;
}

input[id='set-size__3x']:checked ~ main .remark__item
{
    font-size: 1rem;
}

.news
{
    margin: 0;
    padding: 1.5rem 0;
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
    -moz-column-rule: 1px solid #420;
    -webkit-column-rule: 1px solid #420;
    column-rule: 1px solid #420;
    -moz-column-gap: 1.5rem;
    -webkit-column-gap: 1.5rem;
    column-gap: 1.5rem;
}

input[id='set-color__dark']:checked ~ main .news
{
    -moz-column-rule-color: #fed;
    -webkit-column-rule-color: #fed;
    column-rule-color: #fed;
}

.news__header
{
    margin: 0 0 1.5rem;
    padding: 0;
    text-align: center;
    font: 2.5rem 'Pattaya', cursive;
    line-height: 2.5rem;
}

input[id='set-size__2x']:checked ~ main .news__header
{
    font-size: 2.7rem;
    line-height: 2.7rem;
}

input[id='set-size__3x']:checked ~ main .news__header
{
    font-size: 2.9rem;
    line-height: 2.9rem;
}

.any-news
{
    margin: 0 0 1.5rem;
    padding: 0;
}

.any-news__header
{
    margin: 0 0 1.5rem;
    padding: 0;
    text-align: center;
    font: 2rem 'Pattaya', cursive;
    line-height: 2rem;
}

input[id='set-size__2x']:checked ~ main .any-news__header
{
    font-size: 2.2rem;
    line-height: 2.2rem;
}

input[id='set-size__3x']:checked ~ main .any-news__header
{
    font-size: 2.4rem;
    line-height: 2.4rem;
}

.any-news p
{
    margin: 0;
    padding: 0 0 .5rem;
    text-align: justify;
    font-size: 1rem;
    text-indent: 2rem;
}

input[id='set-size__2x']:checked ~ main .any-news p
{
    font-size: 1.2rem;
}

input[id='set-size__3x']:checked ~ main .any-news p
{
    font-size: 1.4rem;
}

input[id='set-font__sans']:checked ~ main .any-news p
{
    font-family: 'PT Sans';
}

input[id='set-font__serif']:checked ~ main .any-news p
{
    font-family: 'PT Serif';
}

input[id='set-font__mono']:checked ~ main .any-news p
{
    font-family: 'PT Mono';
}

.any-news p q
{
    font-family: 'Marck Script';
}

.any-news p:first-of-type::first-letter
{
    font: 1.5rem 'Pattaya', sans-serif;
}

input[id='set-size__2x']:checked ~ main .any-news p:first-of-type::first-letter
{
    font-size: 1.7rem;
}

input[id='set-size__3x']:checked ~ main .any-news p:first-of-type::first-letter
{
    font-size: 1.9rem;
}

.news-image__source
{
    width: 100%;
    margin: 0 0 .25rem;
}

.news-image
{
    margin: 0 0 1rem;
}

.news-image__caption
{
    font: 1rem 'Marck Script', cursive;
    text-align: center;
}

input[id='set-size__2x']:checked ~ main .news-image__caption
{
    font-size: 1.2rem;
}

input[id='set-size__3x']:checked ~ main .news-image__caption
{
    font-size: 1.4rem;
}
