@font-face
{
    font-family: 'AA American Captain';
    src: url(9923.ttf) format('truetype');
}

@font-face
{
    font-family: 'RobertaC';
    src: url(7945.ttf) format('truetype');
}

@font-face
{
    font-family: 'The Capt';
    src: url(10763.otf) format('truetype');
}

@font-face
{
    font-family: 'Conkordia';
    src: url(7863.ttf) format('truetype');
}

@font-face
{
    font-family: 'Flange BQ';
    src: url(9475.otf) format('truetype');
}

@font-face
{
    font-family: 'b52';
    src: url(b52.ttf) format('truetype');
}

@font-face
{
    font-family: 'Chekhovskoy';
    src: url(10851.ttf) format('truetype');
}

h1
{
    padding-left: 20pt;
    font-family: 'AA American Captain';
    font-size: 102pt;
    letter-spacing: 1px;
}

h2 
{
    font-family: 'AA American Captain';
    font-size: 65pt;
    letter-spacing: 1px;
    margin: 0px;
    padding: 0px;
}

h3 
{
    font-size: 25pt;
    font-family: 'AA American Captain';
    letter-spacing: 2px;
}

h4 
{
    font-size: 25pt;
    letter-spacing: 2px;
    margin: 0px;
    padding: 0px;
}

.subHeader2 
{
    font-size: 30pt;
    letter-spacing: 2px;
    margin: 0px;
    padding: 0px;
}

.strongSpacing 
{
    font-weight: bold;
    letter-spacing: 2px;
}

.subH 
{
    padding-left: -10pt;
    font-family: 'RobertaC';
    font-size: 22pt;
}

.text_demoBlock 
{
    padding-bottom: 0px;
    width:100%;
    column-count: 2;
    font-size: 8pt;
}

.low 
{
    font-size: 8pt;
    text-align: center;
}

.superlowbold 
{
    font-size: 8pt;
    font-weight: bold;
}

.ramka 
{
    border: 40px solid transparent;
    border-width: 45px;
    border-image: url(border1.png) 8%;
    padding:  0px;
}

hr 
{
    margin: 0px;
    padding: 2px;
    border-top: 5px solid;
}

.subHeadline 
{
    font-family: 'The Capt';
    text-align: center;
    font-weight: bold;
    font-size: 20pt;
    letter-spacing: 1px;
}

.narrowText 
{
    text-align: end;
    font-family: 'Times New Roman';
    font-weight: bold;
    font-size: 18px;
    margin: 0px;
    padding: 0px;
}

.subHeader 
{
    font-family: 'The Capt';
    font-weight: bold;
    font-size: 20pt;
    letter-spacing: 3px;
    margin: 0px;
    padding: 0px;
}

.border2 
{
    border: solid transparent;
    border-width: 50px;
    border-image: url(border4.png) 10% repeat round;
    padding:  0px;
    margin: 0px;
}

.border3 
{
    border: solid transparent;
    border-width: 50px;
    border-image: url(b5.png) 20% round;
    padding:  0px;
    margin: 0px;
}

.zvezda 
{
    font-family: 'Conkordia';
    font-size: 45pt;
    letter-spacing: 4px;
    margin: 0px;
    padding: 0px;
}

.border4 
{
    border: solid transparent;
    border-width: 30px;
    border-image: url(b6.png) 11% round repeat;
    padding:  0px;
    margin: 0px;
}

.boldTimes 
{
    font-family:'b52';
    font-size: 10pt;
    font-weight: bold;
}

th 
{
    vertical-align:top;
    font-size: 20pt;
    font-weight: normal;
    padding:  0px;
    margin: 0px;
}

.text 
{
    vertical-align: text-top;
    font-size: 10pt;
    font-family:'Chekhovskoy';
    line-height: 20px;
}

.center {
    text-align: center;
}
