@font-face
{
    font-family: 'Scada';
    src: local('Scada-Regular'), url('fonts/Scada-Regular.ttf')
        format('truetype');
}

@font-face
{
    font-family: 'Scada';
    src: local('Scada-Bold'), url('fonts/Scada-Bold.ttf')
        format('truetype');
    font-weight: bold;
}

html 
{
    font-size: 18px;
}

.newspaper
{
    font-family: 'Noto Serif', serif;
    border: .2rem solid #000;
    padding: .2rem;
}

article
{
    padding: 1rem;
    -webkit-column-count: 2;
    -o-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    break-inside: avoid;
    
}

article p::first-letter
{
    font-size: 1.5rem;
    font-weight: bold;
}

.newspaper > header 
{
    text-align: center;
    margin-bottom: 2rem;
}

.newspaper > footer  
{
    text-align: center;
}

.newspaper > article 
{
    -webkit-column-count: 3;
    -o-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
}

.paper-title
{
    font: bold 5rem 'Oswald', sans-serif;
}

.paper-subtitle
{
    font: 3rem 'PT Serif', serif;
}

.newspaper > article  img
{
    width: 100%;
    height: auto;
    display: inline-block;
}

.column-head
{
    font-size: 1.5rem;
}

.column-head::first-letter
{
    font-size: 2.5rem;
    font-weight: bold;
}

.column-first
{
    text-align: right;
}

.column-first article
{
    border: .2rem solid #000;
    column-rule: .2rem solid #000;
    text-align: left;
}

.column-second .column-head
{
    -webkit-column-span: all;
    -moz-column-span: all;
    column-span: all;
}

.column-third .column-head
{
    -webkit-column-span: all;
    -moz-column-span: all;
    column-span: all;
}

.dark:checked ~ div
{
    background-color: #000;
    color: #fff;
}

.dark:checked ~ div::first-letter
{
    color: red;
}

.small-font:checked ~ .newspaper
{
    font-size: .9rem;
}

.big-font:checked ~ .newspaper
{
    font-size: 1.3rem;
}

.scada-font:checked ~ .newspaper
{
    font-family: 'Scada', sans-serif;
}
