h1
{
    text-align: center;
    font-size: 70px;
    font-family: 'Source Serif Pro', serif;
    font-weight: bold;
}

body
{
    font-family: 'Source Serif Pro', serif;
}

main
{
    columns: 3;
    column-gap: 5px;
    column-rule: 1px solid #2c2c2c;
    min-width: 900px;
    page-break-after: right;
}

.wide-separator
{
    color: #000;
    height: 1px;
}

.date
{
    font-family: 'Marcellus SC', serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    margin: 0;
    font-size: 13pt;
}

aside h2
{
    font-family: 'Source Serif Pro', serif;
    text-transform: uppercase;
    font-size: 15pt;
    text-align: center;
    margin: 0;
    font-weight: normal;
}

section header
{
    font-family: 'Cormorant Infant', serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
}

article
{
    font-family: 'Marcellus SC', serif;
    font-size: 15px;
    column-gap: 10px;
    column-rule: 1px solid #2c2c2c;
    column-width: 200px;
    break-after: column;
    max-height: 690px;
}

article p:first-of-type:first-letter
{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.weather
{
    font-family: 'Alegreya', serif;
    padding: 10px;
    border: 4px double #000;
    text-align: center;
    float: right;
}

figure
{
    width: 100%;
    margin: 0;
    text-align: center;
}

figcaption
{
    font-family: 'Cormorant Infant', serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
}

.joke
{
    position: relative;
    font-family: 'Marcellus SC', serif;
    border: 4px dashed #c8c8c8;
    box-sizing: border-box;
    padding: 4px;
    margin-top: 3%;
}

section
{
    padding: 0 1px;
}

img
{
    width: 100%;
}

body > header
{
    text-align: center;
    overflow: hidden;
}

aside p
{
    margin: 0;
}
