input
{
    display: none;
}

input[id='font-small']:checked ~ main
{
    font-size: 17px;
}

input[id='font-big']:checked ~ main
{
    font-size: 25px;
}

input[id='theme-dark']:checked ~ main
{
    color: white;
    background-color: rgb(130, 80, 50);
    column-rule-color: white;
    border-color: white;
}

input[id='font-type-sans-serif']:checked ~ main
{
    font-family: sans-serif;
}

input[id='font-type-mono']:checked ~ main
{
    font-family: monospace;
}

input[id='font-type-serif']:checked ~ main
{
    font-family: serif;
}
