.footer
{
    padding: .5rem;
    border-top: .5rem double;
}

.footer__year
{
    margin-top: .5rem;
    font-weight: bold;
    font-size: 1.25rem;
}

.footer__description
{
    font-size: 1.4rem;
}
