.settings
{
    margin-bottom: 1rem;
}

.settings__group
{
    display: inline;
    margin: 0 .3rem;
}

.settings__group label
{
    background: #c6c6c6;
    padding: .5rem;
    border-radius: .5rem;
}
