@font-face
{
    font-family: Chekhovskoy;
    src: url(../../fonts/Ñhekhovskoy.ttf);
}

html
{
    font-family: Chekhovskoy, serif;
    font-size: 12px;
    text-align: center;
    padding: 1rem;
}

main
{
    box-shadow: inset 0 0 0 .1em
        rgba(0, 0, 0, .1), inset 0 0 1em
        rgba(0, 0, 0, .1), 0 .1em .25em
        rgba(0, 0, 0, .5);
}

main > section
{
    padding: .5rem;
    column-count: 5;
    column-gap: 1rem;
    text-align: justify;
}

section > section
{
    column-count: 2;
    column-gap: .5rem;
}

header
{
    border: none;
    border-color: #373737;
    border-top: .7rem solid #373737;
    border-bottom: .25rem solid #373737;
    padding: 1rem;
}

.date
{
    float: left;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 2.5rem;

}

h1
{
    display: inline;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

h2
{
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    break-after: avoid;
    break-before: auto;
}

img
{
    filter: contrast(200%) brightness(110%);
    max-width: 100%;
    max-height: 100%;
}

body > input
{
    display: none;
}

p
{
    text-indent: 1.5rem;
}

p:first-of-type::first-letter
{
    text-indent: 0;
    padding-bottom: .1rem;
    font-size: 2rem;
    float: left;
    font-weight: bold;
    margin: 0 .2rem .1rem 0;
}

input[id='theme-new']:checked ~ main
{
    color: #373737;
    background: #fffcf5 url('https://www.transparenttextures.com/patterns/paper-fibers.png');
}

input[id='theme-old']:checked ~ main
{

    color: #653c00;
    background: #cc8821 url('https://www.transparenttextures.com/patterns/paper-fibers.png');
}

input[id='theme-old']:checked ~ main .subscribe
{
    border-color: #653c00;
}

input[id='theme-old']:checked ~ main header
{
    border-color: #653c00;
}

input[id='theme-old']:checked ~ main img
{
    filter: contrast(300%) brightness(70%) sepia(100%);
}

input[id='size-big']:checked ~ main p,
input[id='size-big']:checked ~ main h2
{
    font-size: 2rem;
}

input[id='font-bad']:checked ~ main
{
    font-family: 'Comic Sans MS', serif;
}
