input[id='theme-new']:checked ~ main
{
    color: #373737;
    background: #fffcf5 url('https://www.transparenttextures.com/patterns/paper-fibers.png');
}

input[id='theme-old']:checked ~ main
{

    color: #653c00;
    background: #cc8821 url('https://www.transparenttextures.com/patterns/paper-fibers.png');
}

input[id='theme-old']:checked ~ main .subscribe
{
    border-color: #653c00;
}

input[id='theme-old']:checked ~ main header
{
    border-color: #653c00;
}

input[id='theme-old']:checked ~ main img
{
    filter: contrast(300%) brightness(70%) sepia(100%);
}

input[id='size-big']:checked ~ main p,
input[id='size-big']:checked ~ main h2
{
    font-size: 2rem;
}

input[id='font-bad']:checked ~ main
{
    font-family: 'Comic Sans MS', serif;
}
