@font-face
{
    font-family: Chekhovskoy;
    src: url(../../fonts/chekhovskoy.woff2)
        format('woff2'), url(../../fonts/chekhovskoy.woff)
        format('woff'), url(../../fonts/chekhovskoy.ttf)
        format('truetype');
}

html
{
    font-family: Chekhovskoy, serif;
    font-size: 12px;
    text-align: center;
    padding: 1rem;
}

main
{
    box-shadow: inset 0 0 0 .1em
        rgba(0, 0, 0, .1), inset 0 0 1em
        rgba(0, 0, 0, .1), 0 .1em .25em
        rgba(0, 0, 0, .5);
}

main > section
{
    padding: .5rem;
    column-width: 17rem;
    column-gap: 1rem;
    text-align: justify;
    column-fill: balance;
}

section > section
{
    column-width: 8rem;
    column-gap: .5rem;
}

header
{
    border: none;
    border-color: #373737;
    border-top: .7rem solid #373737;
    border-bottom: .25rem solid #373737;
    padding: 2rem 1rem .8rem;
}

header h1
{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: .45rem;
}

.date
{
    float: left;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 2.5rem;

}

h1
{
    display: inline;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

h2
{
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    break-after: avoid;
    break-before: auto;
}

img
{
    filter: contrast(200%) brightness(110%);
    max-width: 100%;
    max-height: 100%;
}

p
{
    text-indent: 1.5rem;
}

p:first-of-type::first-letter
{
    text-indent: 0;
    font-size: 2rem;
    float: left;
    font-weight: bold;
}
